@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}

.container {
    width: 41rem /* 656px */;
    max-width: 95vw;
}

.input-container {
    width: 41rem;
    height: 40rem;
    border: 2px solid grey;
    border-radius: 2%;
}